<html>
  <head>
    <link href="../Content/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../Content/styles.css" rel="stylesheet" type="text/css">
    <script src="../Content/jquery-3.1.1.js"></script>
    <title>Address book</title>
  </head>
  <body>
    <div class="container">
      <h1>Enter a new contact here</h1>
      <form action="/contact_added" method="post">
        <div class="form-group">
          <label for="new-name">Contact name:</label>
          <input id="new-name" name="new-name" type="text" class="form-control">
          <label for="new-phone">Contact phone:</label>
          <input id="new-phone" name="new-phone" type="text" class="form-control">
          <label for="new-address-street">Contact street:</label>
          <input id="new-address-street" name="new-address-street" type="text" class="form-control">
          <label for="new-city-state">Contact city, state:</label>
          <input id="new-city-state" name="new-city-state" type="text" class="form-control">
          <br>
          <button type="submit" class="btn btn-primary">Enter</button>
        </div>
      </form>
      <br>
      <h4><a href="/view_all_contacts">View all contacts</a></h4>
      <h4><a href="/">Return to homepage</a></h4>
    </div>
  </body>
</html>
