<html>
  <head>
    <link href="../Content/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../Content/styles.css" rel="stylesheet" type="text/css">
    <script src="../Content/jquery-3.1.1.js"></script>
    <title>Address book</title>
  </head>
  <body>
    <div class="container">
      <h1>Your contacts have been cleared.</h1>
      <h4><a href="/contact_form">Add a contact here.</a></h4>
    </div>
  </body>
</html>
