<html>
  <head>
    <link href="../Content/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../Content/styles.css" rel="stylesheet" type="text/css">
    <script src="../Content/jquery-3.1.1.js"></script>
    <title>Address book</title>
  </head>
  <body>
    <div class="container">
      <h1>Search contact's by name.</h1>
      <br>
        <form action="/Contact/search_results" method="post">
          <div class="form-group">
            <label for="contact-name">Contact name</label>
            <input type="text" name="contact-name" class="form-control">
            <br>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      <br>
      <h4><a href="/contact_form">Add a contact here.</a></h4>
      <h4><a href="/view_all_contacts">View all contacts here.</a></h4>
      <h4><a href="/">Return to homepage.</a></h4>
    </div>
  </body>
</html>
