<html>
  <head>
    <link href="../Content/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../Content/styles.css" rel="stylesheet" type="text/css">
    <script src="../Content/jquery-3.1.1.js"></script>
    <title>Address book</title>
  </head>
  <body>
    <div class="container">
      <h1>Search Results</h1>
      <div id="all-contacts">
        @foreach(var contact in Model)
        {
          <h3>@contact.GetName()</h3>
          <p>@contact.GetPhone()</p>
          <p>@contact.GetStreet()</p>
          <p>@contact.GetCityState()</p>
        }
      </div>
      <h4><a href="/search_by_name">Search again.</a></h4>
      <h4><a href="/contact_form">Add another contact here.</a></h4>
      <h4><a href="/view_all_contacts">View all contacts here.</a></h4>
      <h4><a href="/">Return to homepage.</a></h4>
      <br>

    </div>
  </body>
</html>
